* {
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}

body {
    min-width: 320px;
}


/*=== HEADER ===*/
.page-header {
    position: fixed;
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-areas:
        "nav-block logotype other-block";
    grid-template-columns: max-content auto max-content;
    grid-template-rows: 1fr;
    align-items: center;
    background: #e5c6c6;
    /* background: #ddd; */
    box-shadow: 0px 1px 1px 2px rgba(0,0,0,0.2);
    /* position: relative; */
}

body,
.page-header {

    max-width: 800px;
    margin-inline: auto;
}

.page-header .icons {
    width: 80px;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr;
    align-items: center;
        /* background-color: lightblue; */
}

.page-header .icons.nav-block {
    grid-area: nav-block;
    justify-content: start;
}

.page-header .icons.other-block {
    grid-area: other-block;
    justify-content: end;
}

.icons i {
    width: max-content;
    padding: 8px;
    margin-inline: 0;
    color: #555;
    font-size: 22px;
        /* background: red; */
}
.icons i.nav {  /* nav button */
    font-size: 26px;
}
.icons i:hover {
    color: blue;
    color: black;
    cursor: pointer;
}


.logotype {
    grid-area: logotype;
    justify-self: center;
    width: max-content;
    padding: 0 8px 3px;
    background-color: #db9090;
    border-radius: 9px;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    font-style: italic;
}

.dropdown-container,
.nav-container {
    display: grid;
    align-content: center;
    height: 100%;
}
.dropdown-container.search,
.search-container {
    display: grid;
    align-content: center;
    height: 100%;
}

.icons .search-icon {
    margin-right: 8px;
    width: 24px;
}


.dropdown {
    width: 100vw;
    min-width: 160px;
    max-width: 800px;
    margin-inline: auto;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 8px 0px rgba(0,0,0,0.2);
    position: absolute;
    top: 50px;    
    z-index: 1;
    display: none;  /* grid */
}

.page-nav {
    display: grid;

    display: none;
}
.page-nav a {
    /* padding: 4px 16px; */
    width: 100%;
    padding-block: 4px;
    color: #d77;
    text-decoration: none;
    text-align: center;
}
.page-nav a:hover {
    width: 100%;
    background-color: #ddd;
    text-align: center;
}

.page-search  {
    grid-template-columns: auto 36px;
    grid-template-rows: 1fr;
    right: 0;
    padding: 16px 16px;
    /* display: grid; */
}

.page-search input {
    width: auto;
    padding: 8px;
    border: 1px solid #888;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

.page-search button {
    display: grid;
    justify-content: center;
    align-content: center;
    border: 1px solid #aaa;
    border-left: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}

.page-search button i {
    font-size: 17px;
}




.dropdown-container.nav:hover .page-nav,
.dropdown-container.search:hover .page-search {  /* show navigation/search */
    display: grid;
    
}
.dropdown-container.nav:hover .page-nav {
    justify-items: center;
}


body main {
    padding-top: 50px;
    
    min-height: calc(100vh - 30px);
}

.main-header {
    display: grid;
    justify-content: center;
    padding: 16px 8px;
}






body footer {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 30px;
    background: #aaa;
}




/* #================ 400px ================#*/
@media screen and (min-width: 400px) {
    .page-header {
        /* background: #eee; */
    }

    .page-header .icons {
        width: 100px;
        column-gap: 8px;
            /* background: #aaa; */
    }

    .page-header .icons i.nav {
        margin-left: 8px;
    }

    .page-header .icons i.search {
        /* margin-right: 8px; */
    }

    .page-nav {
        padding-inline: 8px;
    }


    .page-nav a {
        padding-inline: 8px;
        text-align: left;
    }
    .page-nav a:hover {
        text-align: left;
    }
}

/* #================ 600px ================#*/
@media screen and (min-width: 600px) {
    .page-header {
        grid-template-areas:
            "logotype other-block nav-block";
            grid-template-areas:
            "logotype nav-block other-block";
        grid-template-columns: auto max-content max-content;
        padding-inline: 12px;
        background: #e5c6c6;
        box-shadow: 0px 1px 4px 4px #fffa;
        height: 57px;;
    }

    .page-header .icons {
        width: max-content;
    }
    
    .logotype {
        justify-self: left;
    }
    
    .dropdown-container.dropdown-container {
        align-content: end;   
    }


    .page-nav {
        /* display: block; */
        position: unset;
        width: max-content;
        box-shadow: unset;
        background: unset;
        /* padding-right: 8px; */
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
            /* background-color: #aaa; */
    }

    .page-nav a:hover,
    .page-nav a.target {
        border-radius: 7px;
        background: #da9b9b;
        color: #fff;

        background-color: #fff;
        color: #da9b9b;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        color: #de8282;
    }

    .page-nav ul {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: 1fr;
        column-gap: 16px;
            /* width: max-content; */
    }

    .page-nav ul a,
    .page-header .icons i {
        color: #db9090;
        color: #c18181;
        font-size: 18px;
        font-weight: bold;
    }

    .page-header .icons.other-block {
        /* padding-right: 4px; */
    }

    .icons i.nav {  /* hide nav icon */
        display: none;
    }

    .dropdown-container.search:hover > i {  /* navbar icon */
        border-radius: 7px;
        background: #da9b9b;
        color: #fff;
    }


}
